{% extends 'base.html' %} {% block content %}
<body>


<br/> 
<!-- Form POSTS to the home page -->
<form action="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST">
    <!-- Security -->
    {% csrf_token %}
    <!-- Input Box -->
    <input class="form-control mr-sm-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker">
    <!-- Button -->
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Stock Quote</button>
</form>

<br/>
{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %} 
    {% if api == "Error" %} 
        Invalid Ticker Symbol. Try again 
    {% else %}
        <h1>{{ api.companyName }}</h1>
        <h2>Price: ${{ api.latestPrice }}</h2> 
        Previous Close: ${{ api.previousClose }}<br/>
        Market Cap: {{ api.marketCap }}<br/>
        PE Ratio: {{ api.peRatio }}<br/>
        52W High: {{ api.week52High }}<br/>
        52W Low: {{ api.week52Low }}<br/>
        YTD Change(%): {{ api.ytdChange }}<br/>
    {% endif %} 
{% endif %} 

</body>
{% endblock %}


<!-- {% for key,value in api.items %} {{key}}: {{value}} <br/> {%endfor%} -->