{% extends 'base.html' %} {% block content %}
{% load widget_tweaks %}


<style>
    #portfolioCont {
        align-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    h1 {
        margin: 0;
        display: inline-block;
        color: white;
    }
    label {
        color: white;
    }
    h4 {
        color: white;
    }
    p {
        color: white;
    }
    a {
        color: white;
        text-decoration: wavy;
    }
    div.modal-content {
        border-color: #1C202B;
        border: #1C202B;
    }
    div.modal-header {
        background-color:#0c2375;
    }
    div.modal-body {
        background-color:#1C202B;
    }
    div.modal-footer {
        background-color:#1C202B;
    }
    #closeBtn {
        color: white;
    }
    button.btn {
        float: right;
        background-color:#0c2375; 
        color: white;
    }
    h5.modal-title {
        color: white;
    }
    input.form-control:focus, textarea {
        background-color:#131722; 
        color:white;
        outline-color: #0c2375;
    }
    input.form-control {
        background-color:#131722; 
        color:white;
        outline-color: #0c2375;
    }
    #id_added_at {
        background-color:#1d2231;
        color: #9e9e9e;
        pointer-events:none;
    }
</style>

<div class="container" id="portfolioCont">
    <h1>{{user}}'s Portfolio</h1>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addStockModal">Add Stock</button>
    <div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addStockModalLabel">Add Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="closeBtn" aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="post" novalidate>
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                    {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <br/>
                        <button class="btn btn-block" type="submit" name="action">Submit</button>
                    </form>
                    <script type="text/javascript">
                        function forceKeyPressUppercase(e)
                        {
                            var charInput = e.keyCode;
                            if((charInput >= 97) && (charInput <= 122)) { // lowercase
                                if(!e.ctrlKey && !e.metaKey && !e.altKey) { // no modifier key
                                    var newChar = charInput - 32;
                                    var start = e.target.selectionStart;
                                    var end = e.target.selectionEnd;
                                    e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
                                    e.target.setSelectionRange(start+1, start+1);
                                    e.preventDefault();
                                }
                            }
                        }
                        document.getElementById("id_ticker").addEventListener("keypress", forceKeyPressUppercase, false);
                    </script>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>


    <style>
        table.table {
            background-color:#1B1F2A;
            color:white;
        }
        table.table > tbody > tr:hover {
            background-color: #0C2375;
            color:white;
        }
        table.table > thead {
            background-color: #0C2375;
            color:white;
        }
    </style>

    <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Company Name/Ticker</th>
                <th scope="col">Shares</th>
                <th scope="col">Total Value</th>

                <th scope="col">Buy Price</th>
                <th scope="col">Latest Price</th>
                <th scope="col">Total Return(%)</th>

                <th scope="col">Prev. Close</th>
                <th scope="col">Change(%)</th>

                <th scope="col">Date Added</th>
                <th scope="col">Management</th>
                </tr>
            </thead>
            <tbody>
                {% if ticker %}
                    {% for stock in stock_data %}
                        <tr>
                            <th scope="row">{{stock.companyName}} | {{stock.symbol}}</th>
                            <td>{{stock.customQuantity}}</td>
                            <td>${{stock.customTotalValue}}</td>

                            <td>${{stock.customBuyPrice}}</td>
                            <td>${{stock.latestPrice}}</td>
                            <td>${{stock.customTotalReturn}} ({{stock.customTotalReturnPercent}}%)</td>

                            <td>${{stock.previousClose}}</td>
                            <td>${{stock.change}} ({{stock.changePercent}}%)</td>

                            <td>{{stock.customPurchaseDate}}</td>
                            <td><a href="{% url 'deleteStock' stock.customStock_id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}