html, body{
    font-size: 100%;
	font-family: 'Muli', sans-serif;
	background:#ffffff;
}

p{
	margin:0;
	font-size:13px;
}


ul li,ol li{
	font-size:14px;
}

h1,h2,h3,h4,h5,h6,a{
	font-family: 'Muli', sans-serif;
	margin:0;
}

ul,label{
	margin:0;
	padding:0;
}

body a:hover{
	text-decoration:none;
}

input[type="submit"],.w3_agile_tags ul li a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}

.w3_agile_banner_text h3{
	font-size: 2em;
    color: #212121;
    line-height: 1.5em;
    width: 40%;
    font-weight: bold;
    text-transform: capitalize;
	margin-bottom:1em;
}

.w3_agile_banner_text h4{
	text-transform: capitalize;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin: 9em 0 0;
    font-weight: bold;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.caret1{
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
}


.agile_panel {
    border: none;
    box-shadow: none;
	margin: 0;
}


.w3l_news_board h2 i,.agileinfo_trade_team h5 i,.w3_single_trade_comments h3 i,.w3layouts_admin h3 i,.agile_commodity_videos h3 i,.w3_equity_market_analysis_chart h3 i,.w3_equity_market_analysis h3 i,.agile_ipo_left1 h3 i,.w3l_commodity_top_news h3 i,.agileits_commodity_statistics h3 i,.w3_agileits_fund_updates h3 i,.w3_commodity_prices h3 i,.w3ls_gauge_chart h3 i,.agileits_technical_research h3 i,.agileits_trending_stocks h3 i,.w3_agileits_top_losers h3 i,.w3ls_market_videos h3 i,.w3l_your_stocks h3 i,.w3layouts_newsletter h3 i,.agileinfo_chat h3 i,.agile_chat h3 i,.w3layouts_market_movers h3 i,.wthree_performance h3 i,.agileinfo_calender h3 i,.w3layouts_research h3 i,.agileits_news_flash h3 i{
	padding-right:1em;
}

.agileits_news_flash {
    box-shadow: 0px 0px 1px #999;
}
li.news-item1 {
    line-height: 1.5em;
	margin: 0px; padding: 0px 10px 12px;font-size:12px;
}
li.news-item1 strong{
	color:#FF0000;
}
.marquee {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
    overflow: hidden;
}
.marquee a {
    color: #212121;
    letter-spacing: 1px;
	text-transform: capitalize;
}
.marquee a span{
	padding:0 1em;
}
.agileinfo_marquee ul li {
    float: left;
    margin: 0;
	display:block;
}
.agileinfo_marquee {
    border: 1px solid #D5D5D5;
}

@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media (max-width:1440px){
	.banner1, .banner2, .banner3, .banner4, .banner5 {
		min-height: 465px;
	}
	.w3_agile_banner_text h4 {
		margin: 8em 0 0;
	}
}
@media (max-width:1366px){
	.agileits_w3layouts_para {
		margin: 1em 0 0;
	}
}
@media (max-width: 1280px){
	.banner1, .banner2, .banner3, .banner4, .banner5 {
		min-height: 430px;
	}
	.w3_agile_banner_text h4 {
		margin: 7em 0 0;
	}
}


.news-item
{
    padding:0;
    margin:0px;
}

.agile_panel_body {
    padding: 0;
}

table.agileits_w3layouts_table {
    padding: 10px 30px 0;
    display: block;
}

ul.demo1 {
    background: #EDEDED;
}

@media (max-width: 1080px){
	.navbar-nav > li > a {
		padding: 15px 16px;
	}
	.agileits_search {
		width: 55%;
	}
	#agileinfo_search {
		width: 26%;
	}
	.agileits_search input[type="text"] {
		width: 54%;
	}
	.banner1, .banner2, .banner3, .banner4, .banner5 {
		min-height: 385px;
	}
	.w3_agile_banner_text h4 {
		margin: 6em 0 0;
	}
	.agileits_newsletter h3 {
		font-size: 1.2em;
	}
	.w3ls_tabs a h3 {
		font-size: 1.1em;
	}
	.nav-tabs > li > a {
		padding: 4px 4px;
	}
	.w3_agile_banner_text h3 {
		font-size: 1.8em;
	}
	.agileinfo_news_original_grids_right {
		padding-right: 0;
	}
	.nav-tabs1 > li > a {
		padding: 5px 6px !important;
	}
	.w3l_your_stocks input[type="submit"] {
		margin: .5em 0 0 4.2em;
	}
	.agile_stocks_mutual_fund_grid_r ul li, .agileits_w3layouts_footer_info li {
		font-size: 13px;
	}
	.agileits_w3layouts_para {
		margin: 0;
	}
	.nbs-flexisel-nav-left {
		left: 90%;
	}
	.news_grid {
		min-height: 250px;
	}
	.news_grid h3 {
		font-size: 1.8em;
	}
	.wthree_news_market_quote img {
		margin: 0;
		width: 65%;
	}
	.wthree_news_market_quote_pos {
		top: 0%;
	}
	.w3layouts_market_reports h5 {
		width: 45%;
	}
	.pa_italic1 i, .collapsed .w3_collapsed {
		left: 22em !important;
	}
	.w3_panel_title {
		font-size: 13px !important;
	}
	div#gauge-0 svg {
		width: 200px !important;
		margin-left: -16px;
	}
	div#gauge-0 {
		box-shadow: none;
	}
	.agileinfo_portfolio_original_grids_left1 {
		padding-right: 0;
	}
	.w3layouts_admin_left {
		width: 115px;
		height: 115px;
	}
	.w3layouts_admin_left i {
		font-size: 4em;
	}
	.agileinfo_chat_right h4 {
		margin: 1em 0 0.3em;
	}
	.scrollbar {
		height: 315px;
	}
	.pa_italic i, .collapsed span {
		left: 26em;
	}
	.w3layouts_site_map_left {
		padding-left: 0;
	}
	.w3ls_ipo_fpo_issues, .w3ls_ipo_fpo_issues1 {
		width: 100%;
	}
	.login input[type="submit"] {
		margin: 2em 0 0 10em;
	}
	.agile_contact_grids input[type="submit"] {
		margin: 2em 0 0 27em;
	}
}

@media (max-width: 800px){
	.w3_agile_banner_text h3 {
		font-size: 1.6em;
	}
	.banner1, .banner5 {
		min-height: 331px;
		padding: 7em 0 0 3em;
	}
	.banner1 {
		background-position:-115px 0px;
	}
	.w3_agile_banner_text h4 {
		margin: 6em 0 0;
		font-size: 2em;
	}
	.w3l_news_board h2, .agileinfo_trade_team h5, .w3_single_trade_comments h3, .w3layouts_admin h3, .agile_commodity_videos h3, .w3_equity_market_analysis_chart h3, .w3_equity_market_analysis h3, .w3layouts_site_map_left_grid h3, .agile_ipo_left1 h3, .w3l_commodity_top_news h3, .agileits_commodity_statistics h3, .agileinfo_fund_offers h3, .w3_commodity_prices h3, .w3ls_gauge_chart h3, .agileits_technical_research h3, .w3_agileits_fund_updates h3, .agileits_trending_stocks h3, .w3_agileits_top_losers h3, .w3ls_market_videos h3, .w3l_your_stocks h3, .w3layouts_newsletter h3, .agileinfo_chat h3, .agile_chat h3, .w3layouts_market_movers h3, .wthree_performance h3, .agileinfo_calender h3, .w3layouts_research h3, .agileits_news_flash h3 {
		font-size: .9em;
	}
	.w3_agile_banner_text h3 {
		width: 60%;
	}
	.banner1, .banner5 {
		min-height: 297px;
		padding: 6em 0 0 2em;
	}
	.w3_agile_banner_text h4 {
		font-size: 1.8em;
	}
@media (max-width: 640px){
	.agileinfo_news_original_grids_left, .agileinfo_news_original_grids_left1, .agileinfo_news_original_grids_right {
		width: 100%;
	}
}
@media (max-width: 600px){
	.banner1,.banner5 {
		min-height: 270px;
		padding: 5em 0 0 2em;
	}
}
@media (max-width: 480px){
	.banner1, .banner5 {
		min-height: 275px;
	}
	.w3_agile_banner_text h4 {
		font-size: 1.6em;
	}
}
@media (max-width: 384px){
	.banner1, .banner5 {
		min-height: 270px;
		padding: 5em 0 0 1em;
	}
}
@media (max-width: 375px){
	.w3_agile_banner_text h4 {
		margin: 7em 0 0;
	}
}
@media (max-width: 320px){
	.w3_agile_banner_text h3 {
		width: 80%;
	}
	.banner1, .banner5 {
		min-height: 250px;
	}
	.w3_agile_banner_text h4 {
		font-size: 1.3em;
	}
}
	
.banner1{
	background:url(../images/2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;	
}
	
.banner5{
	background:url(../images/6.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;	
}
	
.banner1,.banner5{
	min-height:500px;
	padding:7em 0 0 6em;
}

